//------------- variable ----------------------------

$color_of_text: #fff;
$font_family_Gill_Sans: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
  sans-serif;

//------------- import sass file --------------------

@import 'menu_button';
@import 'mask_footer';
@import 'Date_Component';
@import 'main_book_Date_header';

//------------- Global attribute --------------------
@mixin mixing_title_mainBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img {
  margin-top: 40px;
  width: 80px;
}
.title {
  margin: 20px 0px 0px 0px;
  font-size: 2rem;
  font-family: $font_family_Gill_Sans;
  letter-spacing: 8px;
  color: $color_of_text;
}
.country {
  margin-top: 0px;
  font-size: 1rem;
  font-family: $font_family_Gill_Sans;
  letter-spacing: 8px;
  color: $color_of_text;
}

//-------------------------------------------

* {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: rgb(242, 242, 242);
  margin-block: 1px;
  border-radius: 100vw;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(120, 25, 36, 1);
  border: 1px solid rgb(242, 242, 242);
  border-radius: 100vw;
  cursor: grab;
}

@supports (scrollbar-color: red blue yellow black) {
  * {
    scrollbar-color: rgba(120, 25, 36, 1) rgb(49, 44, 44) rgb(218, 178, 106)
      rgb(49, 44, 44);
    scrollbar-width: 10px;
  }
}

//------------------------------------------------------------------------------

body {
  //   overflow-x: hidden;
}

.main_body_book {
  width: 100dvw;
  position: relative;
  .header_book {
    width: 100dvw;
    height: 15dvh;
    padding: 30px;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    .slide_Shadow {
      width: 100%;
      height: 15dvh;
      background-color: rgba(0, 0, 0, 1);
      top: 0px;
      left: 0px;
      z-index: -1;
      position: absolute;
      display: flex;
      justify-content: center;
      .title_mainBox {
        position: absolute;
        top: -8dvh;
        scale: (0.5);
        @include mixing_title_mainBox();
        @extend .img;
        @extend .title;
        @extend .country;
      }
    }
    .header_tab {
      display: flex;
      align-items: center;
      ul {
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        li {
          list-style: none;
          padding: 8px;
          color: #fff;
          font-size: 1.2rem;
        }
        a{
          text-decoration: none;
          list-style: none;
          padding: 8px;
          color: #fff;
          font-size: 1.2rem;
          cursor: pointer;
        }
      }
    }
    .menu_slide {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      background-color: #fff;
      transition: all 0.7s ease-out 0.2s;
      height: 0px;
      display: flex;
      > :nth-child(1) {
        width: 60%;
        height: 100%;
        padding: 40px;
        > :nth-child(1) {
          position: relative;
          width: 100%;
          button {
            position: absolute;
            background: none;
            border: none;
            box-sizing: border-box;
            color: transparent;
            cursor: pointer;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 9px;
            outline: none;
            overflow: hidden;
            text-align: center;
            text-transform: uppercase;
            transform: translate(-10%, -10%);
            transition: all 0.2s ease-in;
            width: 40px;
            height: 40px;
            opacity: 0;
          }
          button::before,
          button::after {
            background-color: rgb(218, 178, 106);
            content: '';
            display: block;
            height: 3px;
            left: 0;
            position: absolute;
            transform-origin: 1px 2px;
            transition: all 0.2s ease-in;
            width: 52px;
            z-index: -1;
          }
          button::before {
            top: 0;
            transform: rotate(45deg);
          }
          button::after {
            bottom: 0;
            transform: rotate(-45deg);
          }
          button:hover {
            color: black;
          }
          button:hover::before,
          button:hover::after {
            height: 40px;
            width: 40px;
            transform: rotate(0deg);
          }
          > :nth-child(2) {
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            display: none;
            p {
              margin: 5px 0px;
              font-size: 2rem;
            }
          }
        }
        > :nth-child(2) {
          margin-top: 50px;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          a {
            position: relative;
            font-size: 3rem;
            color: rgb(218, 178, 106);
            opacity: 0;
            top: 170px;
            text-decoration: none;
            p {
              &:hover {
                color: rgb(3, 3, 3);
              }
            }
          }
          > :nth-child(1) {
            animation: menuhidden 0.2s ease-out 1 forwards;
          }
          > :nth-child(2) {
            animation: menuhidden 0.2s ease-out 1 forwards;
          }
          > :nth-child(3) {
            animation: menuhidden 0.2s ease-out 1 forwards;
          }
        }
      }
      > :nth-child(2) {
        width: 40%;
        background-image: url('../image/accueil-lustre.jpeg');
        background-attachment: fixed;
        background-position-x: 200%;
        background-repeat: no-repeat;
        background-size: 80% 100%;
      }
    }
    .menu_slide_active {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      background-color: #fff;
      transition: all 0.5s ease-out;
      height: 100dvh;
      display: flex;
      > :nth-child(1) {
        width: 60%;
        height: 100%;
        padding: 40px;
        > :nth-child(1) {
          position: relative;
          width: 100%;
          button {
            position: absolute;
            background: none;
            border: none;
            box-sizing: border-box;
            color: transparent;
            cursor: pointer;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 9px;
            outline: none;
            overflow: hidden;
            text-align: center;
            text-transform: uppercase;
            transform: translate(-10%, -10%);
            transition: all 0.2s ease-in;
            width: 40px;
            height: 40px;
            opacity: 0;
            animation: menu 1s ease-out 0.5s 1 forwards;
          }
          button::before,
          button::after {
            background-color: rgb(218, 178, 106);
            content: '';
            display: block;
            height: 3px;
            left: 0;
            position: absolute;
            transform-origin: 1px 2px;
            transition: all 0.2s ease-in;
            width: 52px;
            z-index: -1;
          }
          button::before {
            top: 0;
            transform: rotate(45deg);
          }
          button::after {
            bottom: 0;
            transform: rotate(-45deg);
          }
          button:hover {
            color: black;
          }
          button:hover::before,
          button:hover::after {
            height: 40px;
            width: 40px;
            transform: rotate(0deg);
          }
          > :nth-child(2) {
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            p {
              margin: 5px 0px;
              font-size: 2rem;
              grid-row: 1;
              grid-column: 2;
              margin-left: -2rem;
              animation: image-in 1.5s cubic-bezier(0.5, 0, 0.1, 1) 0.2s backwards;
              @keyframes image-in {
                from {
                  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                }
                to {
                  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                }
              }
            }
          }
        }
        > :nth-child(2) {
          margin-top: 50px;
          width: 100%;
          height: 90%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          a {
            position: relative;
            font-size: 3rem;
            color: rgb(218, 178, 106);
            opacity: 0;
            top: -200px;
            text-decoration: none;
            p {
              &:hover {
                color: rgb(3, 3, 3);
              }
            }
          }
          > :nth-child(1) {
            animation: menu 1s ease-out 0.5s 1 forwards,
              mymove 1s ease-out 0.5s 1 forwards;
          }
          > :nth-child(2) {
            animation: menu 1s ease-out 1s 1 forwards,
              mymove 1s ease-out 1s 1 forwards;
          }
          > :nth-child(3) {
            animation: menu 1s ease-out 1.5s 1 forwards,
              mymove 1s ease-out 1.5s 1 forwards;
          }
        }
      }
      > :nth-child(2) {
        width: 40%;
        background-image: url('../image/accueil-lustre.jpeg');
        background-attachment: fixed;
        background-position-x: 200%;
        background-repeat: no-repeat;
        background-size: 80% 100%;
      }
    }
  }
  & > :nth-child(2) {
    width: 100dvw;
    position: absolute;
    top: 0;
    .main_book {
      width: 100dvw;
      height: 80dvh;
      background-image: url('../image/book\ page/hero2b.jpg');
      background-size: 100% 160%;
      background-repeat: no-repeat;
      background-position: center top 58%;
      background-attachment: fixed;
    }
  }
}

//----------------section header---------------
